div {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
}

.tarjeta {
    width: 650px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}

.heading {
    height: 70px;
    background-color: rgb(0, 193, 193);
    border: 3px solid rgb(0, 193, 193);
    width: 650px;
}

.body {
    border: 3px solid lightgray;
    width: 650px;
}

h2 {
    margin-left: 15px;
    margin-top: 25px;
}

.icon {
    width: 60px;
    position: absolute;
    top: 40px;
    left: 15px;
    border: 3px solid whitesmoke;
    border-radius: 50%;
    margin-left: 15px;
}

.icon2 {
    width: 15px;
    margin-left: 15px;
}

.icon3 {
    width: 20px;
    margin-left: 15px;
}

.ubicación {
    display: flex;
    align-items: center;
}

.habilidades {
    margin-top: 10px;
    margin-left: 15px;
}

.ciudad {
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.perfil {
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.editperfil {
    color: dodgerblue;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: underline;
}

.editperfil:hover {
    opacity: 80%;
    cursor: pointer;
}